[user]
	name = Rafael Fernández López
	email = ereslibre@ereslibre.es
[core]
	excludesfile = /home/ereslibre/.global-gitignore
	editor = nano
[alias]
	serve = daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
	ci = commit
	st = status
	co = checkout
	br = branch
[color]
	ui = auto
[push]
	default = matching
