[user]
	name = Rafael Fernández López
	email = ereslibre@ereslibre.es
	signingkey = 13C970729837C532A9DAEED43AD066E839DFBB2C
[core]
	excludesfile = ~/.gitignore
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
[color]
	ui = auto
[push]
	default = matching
[commit]
	gpgsign = true
[github]
	user = ereslibre
[pull]
	ff = only
[init]
	defaultBranch = main