[Unit]
Description=Create GnuPG socket directory

[Service]
ExecStart=/usr/bin/gpgconf --create-socketdir
ExecStop=

[Install]
WantedBy=default.target