# Regular sshd configurations...

ClientAliveInterval	60
ClientAliveCountMax	3

# When forwarding the gpg agent, unlink() right before the bind(), so
# the socket can be bound several times
StreamLocalBindUnlink	yes
